.animated{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.slideInUp{
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}

.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    -webkit-box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
}

.card-header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 10px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.card .card-header{
    webkit-box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42),
        0 4px 25px 0px rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42),
        0 4px 25px 0px rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: -20px 15px 0;
    border-radius: 3px;
    padding: 15px;
    background-color: #999999;
}

.card [data-background-color]{
    color: #fff;
}

.card [data-background-color="degrade"]{
    background: #007cb7;
    background: -webkit-linear-gradient(30deg, #1c97dc, #00e28e);
    background: -o-linear-gradient(30deg, #1c97dc, #00e28e);
    background: linear-gradient(60deg, #1c97dc, #00e28e);
    -webkit-box-shadow: 0 12px 20px -10px rgba(4, 4, 4, 0.48),
        0 4px 20px 0 rgba(0, 0, 0, 0.2),
        0 7px 8px -5px rgba(0, 0, 0, 0.28);
    box-shadow: 0 12px 20px -10px rgba(4, 4, 4, 0.48),
        0 4px 20px 0 rgba(0, 0, 0, 0.2),
        0 7px 8px -5px rgba(0, 0, 0, 0.28);
}

.icone{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.card .card-header i {
    font-size: 50px;
    line-height: 56px;
    width: 56px;
    height: 56px;
}

.card .card-header .title{
    color: #fff;
}

.card-header p{
    margin: 0;
}

.card .card-header .category{
    margin-bottom: 0;
    color: #fff;
}

.card-header .category{
    font-size: 15px;
}

.card .card-content{
    padding: 10px 15px;
}

.card .table{
    margin-bottom: 0;
}

.table th, .table td{
    border: 0 !important;
}

.table{
    color: #5f666d;
}

thead th{
    color: #484646;
}

table td[class*=col-], table th[class*=col-] {
    font-size: 15px !important;
}

table.dataTable{
    border-collapse: collapse !important;
}

#table_wrapper .row{
    width: 100%;
    margin-left: 0;
}

#table_wrapper .col-sm-12{
    padding: 0 !important;
}

.child .dtr-data{
    white-space: normal;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
    border: 0;
    background-color: #32373d;
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
    background-color: #d33333 !important;
}

table td{
    text-align: center;
    white-space: nowrap;
}

table tr{
    border-bottom: 1px solid #dedbdb;
}

td.child{
    text-align: left;
}

#status{
    font-weight: 600;
    font-size: 0.8rem;
}

#icone{
    color: #607D8B;
    cursor: pointer;
    font-size: 1.3rem;
}

.table th, .table td {
    vertical-align: middle;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
    top: 16px;
}


@media screen and (max-width: 560px){
    .container, .faturas{
        padding: 0;
    }

    .card .card-header {
        padding: 10px !important;
    }

    .card .card-header i {
        font-size: 35px !important;
        width: auto !important;
        height: auto !important;
        line-height: normal !important;
    }

    .card .card-header .title {
        font-size: 1.35rem !important;
        margin-bottom: 0;
    }

    .card-header .category {
        font-size: 13px;
    }
}


