.wrapper {
    width: 100%;
}

#sidebar {
    min-width: 270px;
    max-width: 270px;
    background: #32373d;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}


#sidebar.active ul.components li {
    font-size: 16px;
}

#sidebar.active ul.components li a {
    padding: 10px 0;
}

#sidebar.active ul.components li a span {
    margin-right: 0;
    display: block;
    font-size: 26px;
}

#sidebar.active .logo {
    padding: 10px 0;
}

#sidebar.active .footer {
    display: none;
}

#sidebar.active #text{
    display: none;
}

#sidebar .logo {
    text-align: center;
    padding: 10px 30px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#sidebar .logo img{
    width: 70%;
}

@media (prefers-reduced-motion: reduce) {
    #sidebar .logo {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

#sidebar ul.components {
    padding: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
    #sidebar ul.components {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

#sidebar ul li {
    font-size: 18px;
}

#sidebar ul li > ul {
    margin-left: 10px;
}

#sidebar ul li > ul li {
    font-size: 14px;
}

#sidebar ul li a {
    padding: 15px 30px;
    display: block;
    color: rgba(255, 255, 255, 0.6);;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#sidebar ul li a:hover{
    color: #fff;
    text-decoration: none;
    background: #2c555f;
    border-bottom: 1px solid #2c555f;
}

#sidebar ul li a span {
    margin-right: 15px;
}

#sidebar ul li a:hover {
    color: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width: 991.98px) {
    #sidebarCollapse span {
        display: none;
    }
}

.footer {
    padding: 0 18px;
    font-size: 0.7rem;
    text-align: center;
    color: #d8d8d8;
}

#content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background: #cbcfd2;
}

.btn.btn-primary {
    background: #32373d;
    border-color: #32373d;
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
    background: #2c555f !important;
    border-color: #2c555f !important;
}


.form-control{
    height: 40px !important;
    background: #fff;
    color: #000;
    font-size: 13px;
    border-radius: 4px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: transparent;
}

.form-control:focus, .form-control:active{
    border-color: #000;
}

.form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.form-control::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.form-control:-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.subscribe-form .form-control{
    background: #4897fc;
}

#text{
    display: inline-block;
}

.icone-menu{
    color: #13afc3;
}

#sidebar.active #expandido{
    display: none;
}

#expandido{
    display: inline-block;
}

#sidebar.active #reduzido{
    display: inline-block;
}

#reduzido{
    display: none;
}

@media screen and (max-width: 768px){
    #sidebar.active {
        min-width: 0;
        max-width: 0;
    }

    .container, .container-fluid, .container-xl, .container-lg, .container-md, .container-sm {
        padding-left: 0;
    }
}
